@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: sans-serif;
}

.App {
  padding: 15px;

  .App-title {
    color: #555555;
    margin-bottom: 10px;
  }
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* Reset styles */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
